* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: map-get($font, medio);
    font-family: $font-family;
    text-align: $align;
  }
  .aboutUs{
    font-size: map-get($font, chico)
  }